html {overflow-x: hidden; /* Prevent scroll on narrow devices */}
body {
  background: url('../img/bg.jpg');
  color: #f1f3fd;
  font-family: "Ubuntu";
  background-color: #202020;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
.top-nav {
  margin-bottom: 0;
  background: rgba(0,0,0,.7)
}
.top-nav .navbar-header {
  float: left;
}
.navbarbrand-pyb {
	height: auto;
	padding: 10px 0;
}
.navbarbrand-pyb img {
	height: 35px;
	width: auto;
}
.navbarbrand-pyblogo {
  height: auto;
  min-width: 157px;
  padding: 10px;
}
.navbarbrand-pyblogo img {
  float: left;
  height: 30px;
  width: auto;
}
.navbarbrand-pyblogo span {
 float: left;
 padding:  5px; 
 font-size: 24px;
 font-weight:bold;
}
.btn-pybtop {
  margin: 12px 0 0 0 ;
  color: #f5f5f5 !important;
  background-color: #ff6f1e;
  border: 1px solid #c25417;
  -webkit-box-shadow: inset 0 1px 0 #F7AB80;
  -moz-box-shadow: inset 0 1px 0 #F7AB80;
  box-shadow: inset 0 1px 0 #F7AB80;
  text-shadow: 0px 1px 0px #944312;
  -webkit-text-shadow: 0px 1px 0px #944312;
  -moz-text-shadow: 0px 1px 0px #944312;
  
}
.btn-pybtop:hover, .btn-pybtop:active, .btn-pybtop:focus {
  text-decoration: none;
  background-color: #ff6f1e;
  border: 1px solid #c25417;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3), transparent) !important;
}
.btn-portada {
  color: #f5f5f5;
  background: #181818 !important;
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 1px 0 #383838;
  -moz-box-shadow: inset 0 1px 0 #383838;
  box-shadow: inset 0 1px 0 #383838;
  outline: none;
}
.btn-portada:hover, .btn-portada:focus, .btn-portada:active {
  color: #bd8302;
  border: 1px solid #000;
}
.subtop-nav {
  z-index: 1000;
  background: transparent;
  border: 0;
  margin-bottom: 0;
}
.subtop-nav .navbar-toggle{
  float: left !important;
  border-bottom: 1px solid transparent;
}
.subtop-nav .navbar-toggle:hover, .subtop-nav .navbar-toggle:active, .subtop-nav .navbar-toggle:focus {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent) !important;

  border-bottom: #bd8302 1px solid;
}
.navbar-toggle {
  border: 0;
  padding: 6px 10px;
  margin: 0;
  border-radius: 0;
}
.navbar-toggle i {
  font-size: 28px;
  padding: 5px;
}
.subtop-nav .navbar-form {
  padding: 0;
  margin-right: 10px;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow:none;
}
.subtop-nav .navbar-nav>li>a {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.subtop-nav .navbar-toggle i{
  color: #f1f3fd;
  text-shadow: 2px 1px 0px #000;
}
.subtop-nav .navbar-toggle:hover, .subtop-nav .navbar-toggle:active, .subtop-nav .navbar-toggle:focus {
  background: none;
}
.subtop-nav .navbar-form input[name="q"]{
  background-color: rgba(0,0,0,.3);
  border-color: rgba(0,0,0,.5);
  color: #f1f3fd;
}
.subtop-nav .navbar-form input[name="q"]:focus{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6); 
   background-color: rgba(0,0,0,.6);
}
.subtop-nav .navbar-form button[name="sa"]{
  background: #181818 !important;
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 1px 0 #383838;
  -moz-box-shadow: inset 0 1px 0 #383838;
  box-shadow: inset 0 1px 0 #383838;
  color: #f1f3fd;
  outline: none;
}
.row-offcanvas {
  margin-right: 0;
  margin-left: 0;
}
/* CAROUSEL */
.carousel {
 top: -121px;
}
.load {
  z-index: 2;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  text-align: center;
}
.raster {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/raster.png');
}
.item-portada {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: top center;
}
.carousel-caption {
  z-index: 10;
  left: 5%;
  right: 5%;
  bottom: inherit;
  top: 110px;
  padding-top: 0;
}
.carousel .item {
  height: 480px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.carousel-control {
  z-index: 2;
}
.carousel-indicators {
  top: 300px;
  bottom: inherit;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 30%;
}
.carousel-imagenes {
  top: 0;
  margin-bottom: 20px;
}
.carousel-imagenes .carousel-caption {
  z-index: 20;
  right: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 0;
  text-shadow:none;
  text-align: left;
  top: 265px;
}
.carousel-imagenes .carousel-caption .btn-group.dropup {
  left: 15%;
  right: 15%;
}
.carousel-imagenes .item {
  height: 300px !important;
}
.carousel-imagenes .item img {
  position: relative;
  height: 300px !important;
  width: auto;
}
.carousel-imagenes .carousel-indicators {
  margin-bottom: 20px;
  top: none;
  bottom: 20px;
}
.carousel-imagenes .carousel-control {
  background: transparent;
  margin-bottom: 35px;
}
/* BREADCRUMBS TOP */
#breadcrumbs {
  position: relative;
  float: left;
   margin-right: 10px;
}
#breadcrumbs OL, .ads_468-enl {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: inherit;
  background: #f1f1f2;
  background: -moz-linear-gradient(left, #fdfdfd 0%, #EEEEEE 50%, #EEEEEE 50%, #f1f1f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd),color-stop(50%,#EEEEEE), color-stop(50%,#EEEEEE), color-stop(100%,#f1f1f2));
  border: 1px #a6a6a6 solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,1);
}
#breadcrumbs LI {
  position: relative;
  float: left;
  padding: 2px 10px;
  border-left: 2px #d9d9d9 solid;
}
#breadcrumbs LI:first-child {
  border-left: none;
}
#breadcrumbs A, #breadcrumbs SPAN {
  font-size: 14pt;
  color: #333;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
}
#breadcrumbs A:hover, #breadcrumbs SPAN:hover  {
  color: #000;
}
#breadcrumbs LI:first-child A {
  position: relative;
  float: left;
  text-indent: -9000px;
  background: url('../img/icon_logo.png') no-repeat center center;
  width: 16px;
}
.breadcrumb_list {
  margin-bottom: 0;
  padding: 0 5px;
  background: transparent;
}
/* Enlaces sociales */
.sociallinks>li {
display: table-cell;
width: 1%;
}
.sociallinks li>a{
  font-size: 24px;
  color: #f1f3fd;
  padding:0;
}
.sociallinks li:hover a{
  background: transparent;
  color: #252525;
}
.contenido {
  z-index: 15;
  position: relative;
  margin-top: -380px;
}
.contenido.row, .content.row{
  margin-left: 0;
  margin-right: 0;
}
.ads-panelh {
  width: 100%;
  min-height: 90px;
}
.text-14pt {
  padding: 0 10px;
  font-size: 14px;
}
.text-pyb {
  color: #f1f3fd !important;
  font-family: "Eras Bold ITC";
  letter-spacing: 2px;
  text-shadow: 3px 2px 2px rgba(0,0,0,.9);
  -moz-text-shadow: 3px 2px 2px rgba(0,0,0,.9);
  -webkit-text-shadow: 3px 2px 2px rgba(0,0,0,.9);
}
a.text-pyb {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
a.text-pyb:hover, a.text-pyb:active, a.text-pyb:focus {
    border-bottom: #bd8302 1px solid;
}

/*PANEL*/
.panel-pyb {
  background: rgba(0,0,0,.4);  
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 -1px 1px rgba(255, 255, 255, 0.05);
}
.panel-pyb>.panel-heading { 
  background: none; 
  text-shadow: 0 1px 0 #000;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02)) !important;
  padding: 0 10px;
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.panel-pyb>.panel-heading h1, .panel-pyb>.panel-heading h2, .panel-pyb>.panel-heading h3, .panel-pyb>.panel-heading h4 {  
  color: #f1f3fd;
  font-family: "Eras Bold ITC";
  font-size: 18pt;
  letter-spacing: 2px;
  text-indent: 20px;
  text-shadow: 3px 2px 2px rgba(0,0,0,.9);
  -moz-text-shadow: 3px 2px 2px rgba(0,0,0,.9);
  -webkit-text-shadow: 3px 2px 2px rgba(0,0,0,.9);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(10%, rgba(0,0,0,.8)), to(rgba(0,0,0,1)));
  text-decoration: none;
  margin: 0;
} 
.panel-pyb>.panel-heading h1 span, .panel-pyb>.panel-heading h2 span, .panel-pyb>.panel-heading h3 span, .panel-pyb>.panel-heading h4 span{
  padding-bottom: 5px;
  line-height: 40px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.01), inset 0 -1px 0 #bd8302 !important;
}
.panel-pyb>.panel-heading.panelhc {
  color: #bd8302
}
.list-group-pyb a {
  color: #ddd;
  background: #2a2a2a;
  text-shadow: 0 1px 0 #000;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 -1px 1px rgba(255, 255, 255, 0.05);
  margin-bottom: 0;
}
.nav-justified-pyb>li>a {
  color: #ddd;
  background: #2a2a2a;
  text-shadow: 0 1px 0 #000;
  border:#000 1px solid;
  margin-bottom: 0;
}
.list-group-pyb .list-group-item:last-child {
  border-bottom: 1px solid  rgba(0, 0, 0, 0.4) !important;
}
.list-group-pyb a:hover, .list-group-pyb a:focus, .list-group-pyb a:active, .nav-justified-pyb>li>a:hover, .nav-justified-pyb>li>a:active, .nav-justified-pyb>li>a:focus{
  border-bottom: #bd8302 1px solid;
  background-color: #181818;
  color: #f1f3fd;
}
.list-group-pyb .list-group-item:last-child:hover {
  border-bottom: #bd8302 1px solid !important;
}
.list-group-pyb a.active {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: #bd8302 1px solid;
  background-color: #181818;
  color: #f1f3fd;
}
.list-group-pyb a.active:hover, .list-group-pyb a.active:focus, .list-group-pyb a.active:active, .nav-justified-pyb>li>a:hover, .nav-justified-pyb>li>a:focus, .nav-justified-pyb>li>a:active {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: #bd8302 1px solid !important;
  background-color: #181818;
  color: #f1f3fd;
}
.nav-justified-pyb>li>a {
  border-bottom:#000 1px solid !important;
}
.list-striped>.row {
  padding: 5px;
  margin: 5px 0;
}
.list-striped>.row:nth-of-type(odd) {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 -1px 1px rgba(255, 255, 255, 0.05);
}
.btn-pyb {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(10%, rgba(0,0,0,.8)), to(rgba(0,0,0,1)));
  white-space: normal;
}
.addon-pyb {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent) !important;
  color: #181818;
  font-weight: normal;
  text-shadow:none;
}
.btn-pyb.btn-google-plus {
  color: #fff;
  background-color: #d24228;
  border-color: transparent !important;
}
.btn-pyb.btn-facebook {
  color: #fff;
  background-color: #305c99;
  border-color: transparent !important;
}
.btn-pyb.btn-twitter {
  color: #fff;
  background-color: #00cdff;
  border-color: transparent !important;
}
.btn-pyb.btn-facebook:hover {
  background-color: #305c99;
} 
.btn-pyb.btn-google-plus:hover {
 background-color: #d24228;
} 
.btn-pyb.btn-twitter:hover {
   background-color:#00cdff;
}
.btn-pyb.btn-facebook:hover, .btn-pyb.btn-google-plus:hover, .btn-pyb.btn-twitter:hover {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent) !important;
}
.nav-justified-movil>li{
  display: table-cell;
  width: 1%;
}
.nav-justified-top {
  margin-bottom: 4px;
}
.nav-justified-top>li {
  padding-left: 3px;
}
.red {
  background-color: #b52e19;
  color: #3d0800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
.footer.row{
	margin-right: 0;
	margin-left: 0;
}
.footer {
  background: #252525;
}
.nav-footer {
	margin-bottom: 1px;
}
.nav-footer .navbarbrand-pyb>img {
  height: 30px;
}
.nav-footer .nav-justified>li>a {
	padding: 15px 10px;
}
.nav-footer .navbar-toggle {
  border-left: 1px solid #080808;
}
.nav-footer .navbar-form{
  margin-top: 0;
  margin-bottom: 0;
}
.logofooter-pyb {
	position: relative;
  	float: left;
	width: 40px;
	height: auto;
}
.creditos>p {
  margin: 0;
  text-indent: 5px;
}
.creditos>ul.breadcrumb {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background: transparent;
}
.creditos>ul.breadcrumb>li>button {
	padding: 2px 4px;
}
.footer .sociallinks li>a{
  font-size: 34px;
  color: #999;
}
.footer .sociallinks li:hover a{
  background-color: #f1f3fd;
  color: #252525;
}
.backtotop {
  border-top: 6px solid #222;
  height: 40px;
}
#back-to-top {
background: #222;
color: #999;
position: relative;
text-align: center;
width: 60px;
height: 30px;
display: block;
margin: 0 auto;
margin: 0 auto -30px;
}
#back-to-top:hover {
  color: #ecf0fc;
}
#back-to-top:before {
top: 0;
left: -30px;
border: solid;
border-color: #222 transparent;
border-width: 30px 0 0 30px;
content: "";
display: block;
position: absolute;
}
#back-to-top:after {
top: 0;
right: -30px;
border: solid;
border-color: #222 transparent;
border-width: 30px 30px 0 0;
content: "";
display: block;
position: absolute;
}
#back-to-top i {
  font-size: 38px;
position: relative;
top: -7px;
}
#back-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index:499;
  /*IE6 hack */
     _position: absolute;
     _top:expression(documentElement.scrollTop+body.scrollTop);
     _margin-top: 500px;

}
#back-top a {
  width: 50px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: none;
  color: #bbb;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  
}
#back-top a:hover {
  color: #000;
}
/* arrow icon (span tag) */
#back-top span#button {
  text-indent: 900px;
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 7px;
  background: url("../img/top.png") no-repeat center center;
  /* rounded corners */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /* background color transition */
}
#back-top span#link:hover {
background: rgb(241, 127, 96);
color: rgb(255, 255, 255);
}
#back-top span#link {
display: inline-block;
border: 1px solid rgb(219, 215, 208);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-radius: 5px;
font-weight: bolder;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
text-decoration: none;
color: rgb(192, 186, 175);
background: rgb(255, 255, 255);
padding: 5px;
}
/*Responsive de Bootstrap 3.0*/
@media (min-width: 480px) {
.navbarbrand-pyb {
  padding: 10px;
}
.navbarbrand-pyb img {
  height: 50px;
}
.btn-pybtop {
  margin: 20px 0 15px 0;
}
.carousel-caption {
  left: 20%;
  right: 10%;
}
.creditos>ul.breadcrumb>li>button {
  padding: 2px 12px;
}
}
@media (min-width: 768px) {
.btn-pybtop {
  margin: 18px;
}
.carousel-caption {
  left: 30%;
  right: 10%;
}
.carousel-caption h4{
  font-size: 24px;
}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}
.carousel .item {
  height: 768px;
}
.contenido {
  margin-top: -600px;
}
.text-pyb {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(10%, rgba(0,0,0,.8)), to(rgba(0,0,0,1)));
}
a.text-pyb:hover, a.text-pyb:active, a.text-pyb:focus {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent) !important;
}
.nav-footer .navbar-form{
  margin-top: 8px;
  margin-bottom: 8px;
}
.text-14pt {
  font-size: 18px;
}
}
@media (min-width: 992px) {
.carousel-caption {
  left: 50%;
  right: 10%;
}
}
@media (max-width: 479px){
.col-xxs {
  padding: 0;
}
.hidden-xxs {
  display: none;
}
.col-xxs-12 {
  width: 100%;
}
.col-xxs-9 {
  width: 75%;
}
.col-xxs-8 {
  width: 66.66666667%;
}
.col-xxs-6 {
  width: 50%;
}
.col-xxs-4 {
  width: 33.33333333%;
}
.col-xxs-3 {
  width: 25%;
}
.visible-xxs {
    display: block!important;
}
.xxs-nopadding {
  padding: 0;
}
.col-xxs-push-0 {
  left: auto;
}
.col-xxs-pull-0 {
  right: auto;
}
}
@media (max-width: 767px) {
.row-offcanvas {
  position: relative;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.row-offcanvas-right {
  right: 0;
}
.row-offcanvas-left {
  left: 0;
}
.row-offcanvas-right .sidebar-offcanvas {
  right: -75%; /* 6 columns */
}
.row-offcanvas-left .sidebar-offcanvas {
  left: -75%; /* 6 columns */
    margin-left: -30px;
}
.row-offcanvas-right.active {
  right: 75%; /* 6 columns */
}
.row-offcanvas-left.active {
  left: 75%; /* 6 columns */
}
.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width:75%; /* 6 columns */
}
.sidebar-offcanvas>.nav.navbar-nav{
    margin-top: 0;
    margin-left: -8px;
}

.sidebar-offcanvas>.navbar-nav{
    border: 1px solid #000;
}
.sidebar-offcanvas>.navbar-nav>li>a{
    background: #222;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid transparent
}
.sidebar-offcanvas>.navbar-nav>li>a:hover,.sidebar-offcanvas>.navbar-nav>li>a:focus,.sidebar-offcanvas>.navbar-nav>li>a:active {
  background: #333;
  -webkit-box-shadow: inset 0 3px 6px #191919;
  -moz-box-shadow: inset 0 3px 6px #191919;
  box-shadow: inset 0 3px 6px #191919;
  border-bottom: 1px #bd8302 solid;
}
.xs-nopadding {
  padding: 0;
}
}
